body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}



main {
    padding: 20px;
}



.operation-container {
    margin-top: 20px;
    display: none;
    text-align: center;
}

.matrix {
    margin: 10px auto;
    text-align: center;
}

.matrix div {
    margin: 5px;
    display: flex;
    justify-content: center;
}

.matrix input {
    margin: 3px;
    text-align: center;
    width: 60px;
}

.matrix-input input {
    width: 60px;
    text-align: center;
    margin: 5px;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
